 @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, body * {
    margin : 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: cadetblue;
    min-height: 100vh;
    font-family: 'Gemunu Libre', sans-serif;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 120px;
}

p {
font-family: 'Oswald', sans-serif;
    font-size: 30px;
    display: block;
    background-color: rgb(255, 255, 255);
    border: solid black;
    padding: 16px;
    border-radius: 10px; 
}

p span {
     font-family: 'Stick No Bills', sans-serif;
     font-size: 25px;
     display: block;
     background-color: rgb(230, 255, 87);
     border: solid rgba(171, 190, 0, 0.637);
     padding: 16px;
     border-radius: 30px;
     
}

.bounce {
    animation: bounce-anim 1.4s cubic-bezier(0.31, 1.56, 0.23, 0.99);
  }
  
  @keyframes bounce-anim {
    from {
      transform: rotate(-90deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }