@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, body * {
   margin : 0;
   box-sizing: border-box;
   position: relative;
}

body {
   background-color: rgb(67, 130, 202);
   min-height: 100vh;
   font-family: 'Gemunu Libre', sans-serif;
}

.flex-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

h1{
   font-size: 120px;
}
h2{
  font-size: 70px;
  text-decoration: underline 4px;
}

input{
  height: 35px;
  background-color: rgb(255, 229, 181);
  border: solid black;
  border-width: 4px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
}

div.response {
   display: flex;
   background-color: rgb(237, 250, 178);
   align-items: center;
   text-align: center;
   border: solid 1px rgb(39, 39, 39);
   border-width: 3px;
   border-radius: 4px;
   margin-top: 8px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
}

div.response span.input{
   padding: 8px;
}

div.response span.comment{
   font-style: italic;
}

.bounce {
   animation: bounce 1s .5s infinite;
   transform: scale(0.85);
 }
 
 @keyframes bounce {
   0% { transform: scale(1.1);}
   50% { transform: scale(1.6);}
   60% { transform: scale(0.6);}
   80% { transform: scale(0.95) }
   100% { transform: scale(0.85) }
 }
  